.git
.gitignore
.vscode
.idea
.claude
docs
*.md

**/target

admin
web
node_modules
**/node_modules
pnpm-lock.yaml
pnpm-workspace.yaml
package.json

infra/postgres
infra/nginx
infra/keys
infra/debezium
docker-compose.yml
docker-compose.tools.yml
load-tests
deploy
.github
.env
.env.example
